{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">Directory</h1>
{{ end }}
<p>✨ = one of my favorites so you should probably read it :D</p>

<ul class="posts">
	{{- range (where .Site.RegularPages "Section" "posts") -}}
		{{- if index .Params "hidden" -}}
			{{ continue }}
		{{- end -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			{{ with index .Params "IsFavorite" }}
				<span>️️️️✨️️️️️</span>
			{{ end }}
			<a href="{{ .RelPermalink }}">{{.Title}}</a>
			{{ with index .Params "IsFavorite" }}
				<span>️✨️️</span>
			{{ end }}
			<span class="meta">
				{{ dateFormat "Jan 2, 2006" .Date }}
				{{ if .Draft }}
					<span class="draft-label">DRAFT</span>
				{{ end }}
			</span>
		</li>
		{{- end -}}
	{{- end -}}
</ul>
{{ end }}