<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-PZDPYRXWDC"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-PZDPYRXWDC");
    </script>

    <div class="content">
      {{ partial "header.html" . }}

      <main class="list">
        <div class="site-description">
          {{- if isset .Site.Params "subtitle" -}} {{/*
          <p>{{ .Site.Params.Subtitle | markdownify }}</p>
          */}} {{- end -}}
        </div>
        {{ .Content }}
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
