<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-PZDPYRXWDC"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-PZDPYRXWDC");
    </script>

    <div class="content">
      {{ partial "header.html" . }}

      <main class="list">
        <div class="site-description">
          {{- if isset .Site.Params "subtitle" -}} {{/*
          <p>{{ .Site.Params.Subtitle | markdownify }}</p>
          */}} {{- end -}}
        </div>
        {{ .Content }}
        <h2>Mailing List</h2>
        <p>Get notified when I post!</p>
        <form action="https://formspree.io/f/myzyjqan" method="post">
          <label for="email">Email Address:</label>
          <input name="email" />
          <div>
            <button type="submit">Subscribe</button>
          </div>
        </form>
        <a href="/unsubscribe-from-mailing-list"
          >Unsubscribe from mailing list</a
        >
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
